<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GST</title>
    @Styles.Render("~/bundles/css/bootstrap")
    @Styles.Render("~/bundles/css/datatables")
    @Styles.Render("~/bundles/css/fontawesome")
    @Styles.Render("~/Content/Site.css")

    @RenderSection("additionalCSS", false)

    <script>
        $(document).ready(function () {
            var admin = sessionStorage.
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li id="adminLink">@Html.ActionLink("Person", "Index", "Admin")</li>
                        <li id="adminLink">@Html.ActionLink("Badge Bank", "BadgeBank", "Admin")</li>
                        <li id="adminLink">@Html.ActionLink("Badge History", "BadgeHistory", "Admin")</li>
                        <li id="adminLink">@Html.ActionLink("Give Badge", "GiveBadge", "Tree")</li>
                        <li id="adminLink">@Html.ActionLink("Grid View", "Grid/10010", "Tree")</li>*@

                        <li>@Html.ActionLink("Give Badge", "GiveBadge", "Tree")</li>
                        <li>@Html.ActionLink("Grid View", "Grid/10010", "Tree")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/datatables")

    @RenderSection("scriptsIncludes", false)
    @RenderSection("inlineScript", false)
</body>
</html>