@model List<GST_Program.Domain.Models.BadgeHistory>

@{
    ViewBag.Title = "GridView";
    Boolean isAchieved = false;
    DateTime badgeDT = new DateTime();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>@ViewBag.Person.Person_Name - Grid</h2>
    </div>

    <div class="row">
        <h3>Core</h3>
    </div>

    <div class="row">
        <table class="table" id="coreTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Badge</th>
                    <th>Time Stamp</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var core in ViewBag.Core) {
                    <tr class="core">
                        <td colspan="4">
                            <b>@core.CoreBadge.Badge_Name</b>
                        </td>
                    </tr>
                    foreach (var competency in core.CompetencyBadge) {
                        foreach (var b in Model) {
                            if (b.Badge.Badge_ID == competency.Badge_ID) {
                                isAchieved = true;
                                badgeDT = b.Time_Stamp;
                            } else {
                                isAchieved = false;
                                badgeDT = new DateTime();
                            }
                        }

                        if (isAchieved) {
                            <tr class="achieved">
                                <td></td>
                                <td>
                                    @competency.Badge_Name
                                </td>
                                <td>
                                    @badgeDT
                                </td>
                                <td>
                                    <img src="@competency.Image_Address" />
                                </td>
                            </tr>
                        } else {
                            <tr class="unachieved">
                                <td></td>
                                <td>
                                    @competency.Badge_Name
                                </td>
                                <td></td>
                                <td>
                                    <img src="@competency.Image_Address" />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>

        </table>
    </div>

    <div class="row"><hr /></div>

    <div class="row">
        <h3>Commendations</h3>
    </div>

    <div class="row">
        <table class="table" id="commendationTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Badge</th>
                    <th>Sender</th>
                    <th>Time Stamp</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model) {
                    if (b.Badge.Badge_Category == "Commendation") {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => b.Transaction_Num)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => b.Badge.Badge_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => b.Giver.Person_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => b.Time_Stamp)
                            </td>
                            <td>
                                @if (b.Badge != null) {
                                    <img class="img-responsive" id="BadgeImage" src="@b.Badge.Image_Address" />
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@section scriptsIncludes {
    <script src="~/Content/GridModule.js?Build=@Guid.NewGuid().ToString()"></script>
}