@model List<GST_Program.Domain.Models.BadgeHistory>

@{
    ViewBag.Title = "GridView";
}

<div class="container">
    <div class="row">
        <h2>@ViewBag.Person.Person_Name - Grid</h2>
    </div>

    <div class="row">
        <h3>Core</h3>
    </div>

    <div class="row">
        <h3>Competencies</h3>
    </div>

    <div class="row">
        <table class="table" id="competencyTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Badge</th>
                    <th>Sender</th>
                    <th>Time Stamp</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var b in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => b.Transaction_Num)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => b.Badge.Badge_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => b.Giver.Person_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => b.Time_Stamp)
                    </td>
                    <td>
                        @if (b.Badge != null) {
                            <img class="img-responsive" id="BadgeImage" src="@b.Badge.Image_Address"/>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>


@section scriptsIncludes {
    <script src="~/Content/GridModule.js?Build=@Guid.NewGuid().ToString()"></script>
}