@model List<GST_Program.Domain.Models.BadgeHistory>

@{
    ViewBag.Title = "GridView";
}

<h2>Grid View</h2>
<div class="grid" style="width:100%">
    @for (var i = 0; i < Math.Ceiling(Model.Count/7.0); i++)
    {
        <div class="row" style="height:100px" >
            @for (var j = 0; j < 7; j++)
            {
                <div class="col-sm-1" style="border:outset; height:inherit">
                    @if(j + i*7 < Model.Count)
                    {
                        <div>
                            @Html.Raw(Model[j + i * 7].Badge_ID)
                        </div>
                        <div>
                            @Html.Raw(Model[j + i * 7].Giver_ID)
                        </div>
                        <div>
                            @if (Model[j + i * 7].Badge != null)
                            {
                                <img id="BadgeImage" src="@Model[j+i*7].Badge.Image_Address" />
                            }
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>


@*<table style="width:100%">
    <tr>
        <th>Badge</th>
        <th>Sender</th>
        <th>Image</th>
    </tr>
@foreach (var badge in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => badge.Badge_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => badge.Giver_ID)
        </td>
        <td>
            @if (badge.badge != null)
            {
                <img id="BadgeImage" src="@badge.badge.Image_Address"/>
            }
        </td>
    </tr>
}
</table>*@