@model List<GST_Program.Domain.Models.BadgeHistory>
@using Newtonsoft.Json
@{
    ViewBag.Title = "Tree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Person.Person_Name</h2>

<div class="container">
    <canvas id="treeCanvas" width="800" height="700"></canvas>
</div>


@section scriptsIncludes {
    <script src="~/Content/Vendor/jcanvas/jcanvas.min.js?Build=@Guid.NewGuid().ToString()"></script>
    <script src="~/Content/Modules/TreeViewModule.js?Build=@Guid.NewGuid().ToString()"></script>
}

@section inlineScript {
    <script type="text/javascript">

        var $treeCanvas = $('#treeCanvas');

        @foreach (var b in Model) {
            <text>
                $treeCanvas.drawImage({
                    source: '../../Content/TreeImages/Badge/leaf.png',
                    name: 'b_@b.Transaction_Num',
                    layer: true,
                    mouseover: function() {
                        $(this).css('cursor','pointer'); 
                    },
                    click: function(layer) {
                        window.location.href = "/Tree/BadgeHistoryDetail/" + @b.Transaction_Num;
                    },
                    x: @b.Pos_X, y: @b.Pos_Y,
                    rotate: @b.Angle,
                    scale: 1
                });
                $treeCanvas.addLayerToGroup('b_@b.Transaction_Num', 'tree');
            </text>
        }
    </script>
}

