@model GST_Program.Domain.Models.Badge
@{
    ViewBag.Title = "Badge Create";
}

<h2>Badge Create</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <table class="table">
            <tr>
                <td>ID</td>
                <td>
                    @Html.Editor("BadgeId") <br/>
                    @Html.ValidationMessage("BadgeId", "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    @Html.Editor("BadgeName", new {@class = "form-control"}) <br/>
                    @Html.ValidationMessage("BadgeName", "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td>Summary</td>
                <td>
                    @Html.Editor("BadgeSummary", new {@class = "form-control"}) <br/>
                    @Html.ValidationMessage("BadgeSummary", "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    @Html.Editor("BadgeCategory", new {@class = "form-control"}) <br/>
                </td>
            </tr>
            <tr>
                <td>Give Type</td>
                <td>
                    @Html.DropDownList("BadgeGiveType", new List<SelectListItem>
                    {
                        new SelectListItem {Text = "Student-Peer", Value = "Student-Peer"},
                        new SelectListItem {Text = "Student-Self", Value = "Student-Self"},
                        new SelectListItem {Text = "Faculty-Student", Value = "Faculty-Student"},
                        new SelectListItem {Text = "Staff-Student", Value = "Staff-Student"}
                    }, "")
                    @Html.ValidationMessage("BadgeGiveType", "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td>Date Activated</td>
                <td>
                    @Html.Editor("DateActivated", new {@class = "form-control"}) <br/>
                    @Html.ValidationMessage("DateActivated", "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td>Date Retired</td>
                <td>
                    @Html.Editor("DateRetired", new {@class = "form-control"}) <br/>
                </td>
            </tr>
            <tr>
                <td>Notes</td>
                <td>
                    @Html.Editor("Notes", new {@class = "form-control"}) <br/>
                </td>
            </tr>
            <tr>
                <td>Image Address</td>
                <td>
                    @Html.Editor("ImageAddress", new {@class = "form-control"}) <br/>
                    @Html.ValidationMessage("ImageAddress", "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-default" type="submit" value="Save"/>
                    <a class="btn btn-default" href="@Url.Action("BadgeBank", "Admin")">Cancel</a>
                </td>
            </tr>
        </table>
    </div>
}