@model GST_Program.Domain.Models.Badge
@{
    ViewBag.Title = "Badge Edit";
}

<h2>Badge Edit</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.HiddenFor(model => model.BadgeId)
        <table class="table">
            <tr>
                <td>ID</td>
                <td>
                    @Html.DisplayFor(m => m.BadgeId)
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    @Html.EditorFor(m => m.BadgeName, new { @class = "form-control" }) <br />
                    @Html.ValidationMessageFor(m => m.BadgeName, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Summary</td>
                <td>
                    @Html.EditorFor(m => m.BadgeSummary, new { @class = "form-control" }) <br />
                    @Html.ValidationMessageFor(m => m.BadgeSummary, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    @Html.EditorFor(m => m.BadgeCategory, new { @class = "form-control" }) <br />
                    @Html.ValidationMessageFor(m => m.BadgeCategory, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Give Type</td>
                <td>
                    @Html.DropDownListFor(m => m.BadgeGiveType, new List<SelectListItem>
                    {
                      new SelectListItem{ Text = "Student-Peer", Value = "Student-Peer" },
                      new SelectListItem{ Text = "Student-Self", Value = "Student-Self" },
                      new SelectListItem{ Text = "Faculty-Student", Value = "Faculty-Student" },
                      new SelectListItem{ Text = "Staff-Student", Value = "Staff-Student" }
                    }) <br />
                    @Html.ValidationMessageFor(m => m.BadgeGiveType, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Date Activated</td>
                <td>
                    @Html.EditorFor(m => m.DateActivated, new { @class = "form-control" }) <br />
                    @Html.ValidationMessageFor(m => m.DateActivated, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Date Retired</td>
                <td>
                    @Html.EditorFor(m => m.DateRetired, new { @class = "form-control" }) <br />
                    @Html.ValidationMessageFor(m => m.DateRetired, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Notes</td>
                <td>
                    @Html.EditorFor(m => m.Notes, new { @class = "form-control" }) <br />
                    @Html.ValidationMessageFor(m => m.Notes, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Image Address</td>
                <td>
                    @Html.EditorFor(m => m.ImageAddress, new { @class = "form-control" }) <br />
                    @Html.ValidationMessageFor(m => m.ImageAddress, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-default" type="submit" value="Save" />
                    <input class="btn btn-default" type="button" value="Cancel" onclick="window.location='/Admin/BadgeBank/';" />
                </td>
            </tr>
        </table>
    </div>
}