@model GST_Program.Domain.Models.Badge
@{
    ViewBag.Title = "Badge Detail";
}

<h2>Badge Detail</h2>

<table class="table">
    <tr>
        <td><b>ID</b></td>
        <td>@Html.DisplayFor(m => m.BadgeId)</td>
    </tr>
    <tr>
        <td><b>Name</b></td>
        <td>@Html.DisplayFor(m => m.BadgeName)<br/></td>
    </tr>
    <tr>
        <td><b>Summary</b></td>
        <td>@Html.DisplayFor(m => m.BadgeSummary)<br/></td>
    </tr>

    @if (Model.BadgeCategory != null)
    {
        <tr>
            <td><b>Category</b></td>
            <td>@Html.DisplayFor(m => m.BadgeCategory)<br/></td>
        </tr>
    }

    @if (Model.BadgeGiveType != null)
    {
        <tr>
            <td><b>Give Type</b></td>
            <td>@Html.DisplayFor(m => m.BadgeGiveType)<br/></td>
        </tr>
    }
    
    @*This will always be true*@
    @if (Model.DateActivated != null)
    {
        <tr>
            <td><b>Date Actived</b></td>
            <td>@Html.DisplayFor(m => m.DateActivated)<br/></td>
        </tr>
    }

    @if (Model.DateRetired != null)
    {
        <tr>
            <td><b>Date Retired</b></td>
            <td>@Html.DisplayFor(m => m.DateRetired)<br/></td>
        </tr>
    }

    @if (Model.Notes != null)
    {
        <tr>
            <td><b>Notes</b></td>
            <td>@Html.DisplayFor(m => m.Notes)<br/></td>
        </tr>
    }

    @if (Model.ImageAddress != null)
    {
        <tr>
            <td><b>Image</b></td>
            <td><img id="BadgeImage" src="@Model.ImageAddress" alt="@Model.BadgeName Image"/></td>
        </tr>
    }

    <tr>
        <td></td>
        <td><input class="btn btn-default" type="button" value="Back" onclick="window.location = '/Admin/BadgeBank'"/></td>
    </tr>
</table>