@model IEnumerable<GST_Program.Domain.Models.Badge>

<div class="table-responsive">
    <table class="table table-condensed">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th></th>
        </tr>
        @foreach (var b in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelb => b.BadgeId)
                </td>
                <td>
                    @Html.DisplayFor(modelb => b.BadgeName)
                </td>
                <td>
                    @Html.DisplayFor(modelb => b.BadgeGiveType)
                </td>
                <td>
                    @Html.ActionLink("Edit", "BadgeEdit", new {id = b.BadgeId}) |
                    @Html.ActionLink("Details", "BadgeDetail", new {id = b.BadgeId}) |
                    @Html.ActionLink("Delete", "BadgeDelete", new {id = b.BadgeId})
                </td>
            </tr>
        }
    </table>
</div>