@model IEnumerable<GST_Program.Domain.Models.Person>

<div class="row">
    <div class="table-responsive">
        <table class="table table-condensed">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th></th>
            </tr>
            @foreach (var p in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelp => p.Person_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelp => p.Person_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelp => p.Person_Type)
                    </td>
                    <td>
                        @if (p.Person_Type == "Student") {
                            @Html.ActionLink("Tree", $"../Tree/Index/{p.Person_ID}") <text> | </text>
                        }
                        @Html.ActionLink("Details", "PersonDetail", new { id = p.Person_ID }) |
                        @Html.ActionLink("Edit", "PersonEdit", new { id = p.Person_ID }) |
                        @Html.ActionLink("Delete", "PersonDelete", new { id = p.Person_ID })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>