@model GST_Program.Domain.Models.Person
@{
    ViewBag.Title = "PersonCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>PersonCreate</h2>


@using (Html.BeginForm()) {
    <div class="form-group">
        <table class="table">
            <tr>
                <td>ID</td>
                <td>
                    @Html.Editor("Person_ID") <br />
                    @Html.ValidationMessage("Person_ID", "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    @Html.Editor("Person_Name", new { @class = "form-control" }) <br />
                    @Html.ValidationMessage("Person_Name", "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Type</td>
                <td>
                    @Html.DropDownList("Person_Type", new List<SelectListItem>
                    {
                        new SelectListItem{ Text = "Student", Value = "Student" },
                        new SelectListItem{ Text = "Faculty", Value = "Faculty" },
                        new SelectListItem{ Text = "Staff", Value = "Staff" }
                    }, "")
                    @Html.ValidationMessage("Person_Type", "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    @Html.Editor("Person_Email", new { @class = "form-control" }) <br />
                    @Html.ValidationMessage("Person_Email", "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Admin Status</td>
                <td>
                    @Html.Editor("Admin_Status", new { @class = "form-control" }) <br />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-default" type="submit" value="Save" />
                    <a class="btn btn-default" href="@Url.Action("Index", "Admin")">Cancel</a>
                </td>
            </tr>
        </table>
    </div>
}